.wrapper {
    /* background-image: url("/images/hand-drawn-cute-dogs-pattern-background_35322-179.jpg"); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;   
  }
  